<configuration>
    <appender name = "myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:yy:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name = "FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %d{HH:mm:yy:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <file>logs/journalApp.log</file>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <fileNamePattern>logs/JournalApp-%d{yy-mm-dd}.%i.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="myConsoleAppender" />
        <appender-ref ref="FILE" />
    </root>

</configuration>